<div class="my-4 alert alert-light text-center d-flex justify-content-center align-items-center">
    <div class="text-truncate">
        {% if not data.isContract or (data.contract and data.contract.isChainy) %}
            <h1 class="h4 m-0 py-1 text-dark">Address: {{data.checksumAddress}}</h1>
        {% elseif data.isContract and data.token %}
            <h1 class="h4 m-0 py-1 text-dark">
                {{token.type}} {{token.name}}
            </h1>
            <span class="text-secondary">{{token.checksumAddress}}</span>
        {% else %}
            <h1 class="h4 m-0 py-1 text-dark">{{header}}</h1>
        {% endif %}
    </div>

    <button
        type="button"
        class="btn btn-link text-primary position-absolute"
        data-qrcode="{{data.checksumAddress}}"
    >
        <i class="fa fa-qrcode"></i>
    </button>
</div>
