<div class="card border-0">
    <h3 class="h4 card-header text-dark py-2">
        {% if data.isContract %}Contract{% else %}Address{% endif %} Information
    </h3>
    <table class="table table-borderless table-striped m-0 table-dark table-sm">
        <tbody>
            {% if data.address %}
            <tr>
                <th scope="row">{% if data.isContract %}Contract{% else %}Address{% endif %}</th>
                <td>{{ data.address|etherscan(data, 'no-contract') }}</td>
            </tr>
            {% endif %}
            {% if token.createdAt %}
            <tr>
                <th scope="row" class="text-nowrap">Created At</th>
                <td>{{ token.createdAt|localdate }}</td>
            </tr>
            {% endif %}
            {% if data.isContract and data.contract and data.contract.creator %}
            <tr>
                <th scope="row">Creator</th>
                <td>{{ data.contract.creator|ethplorer(data, 'no-contract') }}</td>
            </tr>
            {% endif %}
            {% if token.createdTx %}
            <tr>
                <th scope="row" class="text-nowrap">Create Tx</th>
                <td>{{ token.createdTx|ethplorer(data) }}</td>
            </tr>
            {% endif %}
            <tr>
                <th scope="row">Balance</th>
                <td>{{ data.balance|ether-full(data) }}</td>
            </tr>
            {% if data.balanceIn %}
            <tr>
                <th scope="row" class="text-nowrap">Total In</th>
                <td>{{ data.balanceIn|ether }}</td>
            </tr>
            {% endif %}
            {% if not data.hideBalanceOut and data.balanceOut %}
            <tr>
                <th scope="row" class="text-nowrap">Total Out</th>
                <td>{{ data.balanceOut|ether }}</td>
            </tr>
            {% endif %}
            {% if token.txsCount %}
            <tr>
                <th scope="row">Transactions</th>
                <td>{{ token.txsCount|int }}</td>
            </tr>
            {% endif %}
            {% if data.isContract and data.contract.isChainy and data.contract.txsCount %}
            <tr>
                <th scope="row">Transactions</th>
                <td>{{ data.contract.txsCount|int }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
