<div class="card-body text-dark p-0">
    <div class="d-flex align-items-center justify-content-between bg-white">
        <h3 class="h4 card-title py-2 px-3 m-0">
            Token {{data.token.name}} Holders
        </h3>
    </div>
    <table
        class="{{ classnames({
            'table table-borderless table-striped m-0 table-dark table-sm bg-transparent': true,
            'opacity-50': data.loading,
        }) }}"
    >
        <tbody>
            {% for key, holder in data.holders %}
                <tr>
                    <td class="text-right token-holders-key">{{key}}</td>
                    <td class="d-none d-sm-table-cell align-middle token-holders-address">
                        {{ holder.address|ethplorer(data, 'no-contract') }}
                    </td>
                    <td class="d-none d-sm-table-cell text-right align-middle token-holders-balance">
                        {{ holder.balance|holderBalance(data) }}
                    </td>
                    <td class="d-none d-sm-table-cell w-50 align-middle token-holders-share">
                        <div class="clearfix pr-5">
                            <div class="token-holders-gauge" style="width:{{holder.share}}%;"></div>
                            <div class="token-holders-gauge-value">&nbsp;{{holder.share}}%</div>
                        </div>
                    </td>
                    <td class="d-sm-none token-holders-group">
                        {{ holder.address|ethplorer(data, 'no-contract') }}<br/>
                        {{ holder.balance|holderBalance(data) }}
                        <div class="clearfix pr-5">
                            <div class="token-holders-gauge" style="width:{{holder.share}}%;"></div>
                            <div class="token-holders-gauge-value">&nbsp;{{holder.share}}%</div>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr><td class="text-center">No holders found</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include '@components/detail/pagination.twig' with {
    'ctx': ctx,
    'pager': data.pager.holders,
    'config': config,
    'className': 'card-footer bg-white',
    'name': 'holders',
} %}
