<div class="card-body text-dark p-0">
    <div class="d-flex align-items-center justify-content-between bg-white">
        <h3 class="h4 card-title py-2 px-3 m-0">
            Token {{data.token.name}} Transfers
        </h3>
        <form class="form-inline p-2 justify-content-end">
            <div class="form-group">
                <div class="form-check form-check-inline">
                    <label class="form-check-label" for="inlineCheckbox1">
                        ETH
                        <sup class="text-danger mx-1">new</sup>
                    </label>
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label" for="inlineCheckbox2">
                        Tokens
                        <sup class="text-danger mx-1">new</sup>
                    </label>
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control form-control-sm" placeholder="Filter by address or hash">
            </div>
        </form>
    </div>
    <table
        class="{{ classnames({
            'table table-borderless table-striped m-0 table-dark table-sm bg-transparent': true,
            'opacity-50': data.loading,
        }) }}"
    >
        <tbody>
            {% for tx in data.transfers %}
                <tr>
                    <td class="d-none d-sm-table-cell">
                        {{ tx.transactionHash|ethplorer(data, 'no-contract', tx.timestamp|localdate(false), {
                            'title': tx.timestamp|localdate
                        }) }}
                    </td>
                    <td>
                        <div class="hash-from-to">
                            <span class="d-inline d-sm-none">
                                Date:&nbsp;{{ tx.timestamp|localdate(false) }}<br/>
                            </span>
                            {% if not data.token %}
                                <span class="address-token-inline">
                                    Token:&nbsp;{{ txToken(tx, data) }}<br/>
                                </span>
                            {% endif %}
                            <span class="d-inline d-sm-none">
                                Value:&nbsp;{{ txQty(tx, data) }}<br/>
                            </span>
                            <span>
                                Tx:&nbsp;{{ tx.transactionHash|ethplorer(data, 'no-contract') }}<br/>
                            </span>
                            {% if tx.from %}
                                <span>
                                    From:&nbsp;{{ txFrom(tx, data) }}<br/>
                                </span>
                                <span>
                                    To:&nbsp;{{ txTo(tx, data) }}<br/>
                                </span>
                            {% else %}
                                <span>
                                    Address:&nbsp;{{ txAddress(tx, data) }}<br/>
                                </span>
                            {% endif %}
                        </div>
                    </td>
                    <td class="text-right d-none d-sm-table-cell">
                        {{ txQty(tx, data) }}
                    </td>
                </tr>
            {% else %}
                <tr><td class="text-center">No transfers found</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include '@components/detail/pagination.twig' with {
    'ctx': ctx,
    'pager': data.pager.transfers,
    'config': config,
    'className': 'card-footer bg-white',
    'name': 'transfers',
} %}
