<div class="card-body text-dark p-0">
    <div class="d-flex align-items-center justify-content-between">
        <h3 class="h4 card-title py-2 px-3 m-0">
            Token {{token.name}} Holders
        </h3>
    </div>
    <table class="table table-borderless table-striped m-0 table-dark table-sm">
        <tbody>
            {% for key, holder in data.holders %}
                <tr>
                    <td class="text-right token-holders-key">{{key}}</td>
                    <td class="d-none d-sm-table-cell token-holders-address">
                        {{ holder.address|ethplorer(data, 'no-contract') }}
                    </td>
                    <td class="d-none d-sm-table-cell text-right token-holders-balance">
                        {{ holder.balance|holderBalance(data) }}
                    </td>
                    <td class="d-none d-sm-table-cell w-50 token-holders-share">
                        <div class="clearfix pr-5">
                            <div class="token-holders-gauge" style="width:{{holder.share}}%;"></div>
                            <div class="token-holders-gauge-value">&nbsp;{{holder.share}}%</div>
                        </div>
                    </td>
                    <td class="d-sm-none token-holders-group">
                        {{ holder.address|ethplorer(data, 'no-contract') }}<br/>
                        {{ holder.balance|holderBalance(data) }}
                        <div class="clearfix pr-5">
                            <div class="token-holders-gauge" style="width:{{holder.share}}%;"></div>
                            <div class="token-holders-gauge-value">&nbsp;{{holder.share}}%</div>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr><td class="text-center">No holders found</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="card-footer d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
        <select class="form-control form-control-sm w-auto mr-3">
            <option>10</option>
            <option>25</option>
            <option>50</option>
            <option>100</option>
        </select>
    </div>
    <nav aria-label="...">
        <ul class="pagination pagination-sm m-0">
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
        </ul>
    </nav>
</div>
