<div class="card border-0 bg-transparent">
    <div class="card-header text-dark py-2 d-flex align-items-center justify-content-between bg-white">
        <div class="d-flex align-items-center">
            {% if data.token.image %}
                <img src="{{data.token.image}}" class="token-logo" align="left" />
            {% endif %}
            <h3 class="h4 p-0 m-0">Token {{data.token.name}} Information</h3>
        </div>
        {% if config.updateLink %}
        <div>
            <a href="{{config.updateLink}}" target="_blank" class="text-primary">Update</a>
        </div>
        {% endif %}
    </div>
    <table class="table table-borderless table-striped m-0 table-dark table-sm bg-transparent">
        <tbody>
            {% if data.token.symbol %}
            <tr>
                <th scope="row">Symbol</th>
                <td class="list-field">{{data.token.symbol}}</td>
            </tr>
            {% endif %}
            {% if data.token.price %}
            <tr>
                <th scope="row">Price</th>
                <td class="list-field">{{ data.token.price|price }}</td>
            </tr>
            {% endif %}
            {% if data.token.totalSupply %}
            <tr>
                <th scope="row" class="text-nowrap">Total Supply</th>
                <td class="list-field">{{data.token.totalSupply}}</td>
            </tr>
            {% endif %}
            {% if data.token.decimals %}
            <tr>
                <th scope="row">Decimals</th>
                <td class="list-field">{{data.token.decimals}}</td>
            </tr>
            {% endif %}
            {% if data.token.owner %}
            <tr>
                <th scope="row">Owner</th>
                <td class="list-field">{{ data.token.owner|ethplorer(data) }}</td>
            </tr>
            {% endif %}
            {% if data.token.transfersCount %}
            <tr>
                <th scope="row">Transfers</th>
                <td class="list-field">{{data.token.transfersCount}}</td>
            </tr>
            {% endif %}
            {% if data.token.issuancesCount %}
            <tr>
                <th scope="row">Issuances</th>
                <td class="list-field">{{data.token.issuancesCount}}</td>
            </tr>
            {% endif %}
            {% if data.token.holdersCount %}
            <tr>
                <th scope="row">Holders</th>
                <td class="list-field">{{data.token.holdersCount}}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
