<div class="card border-0">
    <div class="card-header text-dark py-2 d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
            {% if token.image %}
                <img src="{{token.image}}" class="token-logo" align="left" />
            {% endif %}
            <h3 class="h4 p-0 m-0">Token {{token.name}} Information</h3>
        </div>
        {% if config.updateLink %}
        <div>
            <a href="{{config.updateLink}}" target="_blank" class="text-primary">Update</a>
        </div>
        {% endif %}
    </div>
    <table class="table table-borderless table-striped m-0 table-dark table-sm">
        <tbody>
            {% if token.symbol %}
            <tr>
                <th scope="row">Symbol</th>
                <td class="list-field">{{token.symbol}}</td>
            </tr>
            {% endif %}
            {% if token.price %}
            <tr>
                <th scope="row">Price</th>
                <td class="list-field">{{ token.price|price }}</td>
            </tr>
            {% endif %}
            {% if token.totalSupply %}
            <tr>
                <th scope="row" class="text-nowrap">Total Supply</th>
                <td class="list-field">{{token.totalSupply}}</td>
            </tr>
            {% endif %}
            {% if token.decimals %}
            <tr>
                <th scope="row">Decimals</th>
                <td class="list-field">{{token.decimals}}</td>
            </tr>
            {% endif %}
            {% if token.owner %}
            <tr>
                <th scope="row">Owner</th>
                <td class="list-field">{{ token.owner|ethplorer(data) }}</td>
            </tr>
            {% endif %}
            {% if token.transfersCount %}
            <tr>
                <th scope="row">Transfers</th>
                <td class="list-field">{{token.transfersCount}}</td>
            </tr>
            {% endif %}
            {% if token.issuancesCount %}
            <tr>
                <th scope="row">Issuances</th>
                <td class="list-field">{{token.issuancesCount}}</td>
            </tr>
            {% endif %}
            {% if token.holdersCount %}
            <tr>
                <th scope="row">Holders</th>
                <td class="list-field">{{token.holdersCount}}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
