<div class="card-body text-dark p-0">
    <div class="d-flex align-items-center justify-content-between">
        <h3 class="h4 card-title py-2 px-3 m-0">
            Token {{token.name}} Issuances
        </h3>
    </div>
    <table class="table table-borderless table-striped m-0 table-dark table-sm">
        <tbody>
            {% for tx in data.qwe %}
                <tr>
                    <td class="d-none d-sm-table-cell">
                        {{ tx.transactionHash|ethplorer(data, 'no-contract', tx.timestamp|localdate(false), {
                            'title': tx.timestamp|localdate
                        }) }}
                    </td>
                    <td>
                        <div class="hash-from-to">
                            <span class="d-inline d-sm-none">
                                Date:&nbsp;{{ tx.timestamp|localdate(false) }}<br/>
                            </span>
                            {% if not data.token %}
                                <span class="address-token-inline">
                                    Token:&nbsp;{{ txToken(tx, data) }}<br/>
                                </span>
                            {% endif %}
                            <span class="d-inline d-sm-none">
                                Value:&nbsp;{{ txQty(tx, data) }}<br/>
                            </span>
                            <span>
                                Tx:&nbsp;{{ tx.transactionHash|ethplorer(data, 'no-contract') }}<br/>
                            </span>
                            {% if tx.from %}
                                <span>
                                    From:&nbsp;{{ txFrom(tx, data) }}<br/>
                                </span>
                                <span>
                                    To:&nbsp;{{ txTo(tx, data) }}<br/>
                                </span>
                            {% else %}
                                <span>
                                    Address:&nbsp;{{ txAddress(tx, data) }}<br/>
                                </span>
                            {% endif %}
                        </div>
                    </td>
                    <td class="text-right d-none d-sm-table-cell">
                        {{ txQty(tx, data) }}
                    </td>
                </tr>
            {% else %}
                <tr><td class="text-center">No issuances found</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="card-footer d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
        <select class="form-control form-control-sm w-auto mr-3">
            <option>10</option>
            <option>25</option>
            <option>50</option>
            <option>100</option>
        </select>
    </div>
    <nav aria-label="...">
        <ul class="pagination pagination-sm m-0">
            <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
            <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>
