{%
    set links = [
        {
            href: 'https://myetherwallet.com',
            ga: 'poweredby:click:myetherwallet',
            src: '../assets/images/logos/myetherwallet.png',
            alt: 'MyEtherWallet',
            width: '140'
        },
        {
            href: 'https://metamask.io',
            ga: 'poweredby:click:metamask',
            src: '../assets/images/logos/metamask.png',
            alt: 'Metamask',
            width: '120'
        },
        {
            href: 'https://about.bancor.network',
            ga: 'poweredby:click:bancor',
            src: '../assets/images/logos/bancor.svg',
            alt: 'Bancor',
            width: '100'
        },
        {
            href: 'https://storj.io',
            ga: 'poweredby:click:storj',
            src: '../assets/images/logos/storj.svg',
            alt: 'Storj',
            width: '85'
        },
        {
            href: 'https://mycrypto.com',
            ga: 'poweredby:click:mycrypto',
            src: '../assets/images/logos/mycrypto.svg',
            alt: 'MyCrypto',
            width: '110'
        },
        {
            href: 'https://atomicwallet.io',
            ga: 'poweredby:click:atomicwallet',
            src: '../assets/images/logos/atomicwallet.png',
            alt: 'AtomicWallet',
            width: '80'
        },
        {
            href: 'https://www.coinigy.com',
            ga: 'poweredby:click:coinigy',
            src: '../assets/images/logos/coinigy.svg',
            alt: 'Coinigy',
            width: '110'
        },
        {
            href: 'https://cointracking.info',
            ga: 'poweredby:click:cointracking',
            src: '../assets/images/logos/cointracking.png',
            alt: 'Cointracking',
            width: '140'
        },
        {
            href: 'https://ambisafe.com',
            ga: 'poweredby:click:ambisafe',
            src: '../assets/images/logos/ambisafe.svg',
            alt: 'Ambisafe',
            width: '115'
        },
        {
            href: 'https://coinbooks.io',
            ga: 'poweredby:click:coinbooks',
            src: '../assets/images/logos/coinbooks.png',
            alt: 'Coinbooks',
            width: '120'
        },
        {
            href: 'https://chainy.link',
            ga: 'poweredby:click:chainy',
            src: '../assets/images/logos/chainy.png',
            alt: 'Chainy',
            width: '115'
        },
        {
            href: 'https://everex.cash',
            ga: 'poweredby:click:everexwallet',
            src: '../assets/images/logos/everexwallet.png',
            alt: 'EverexWallet',
            width: '100'
        }
    ]
%}

{# {
            href: 'https://coinpeak.io',
            ga: 'poweredby:click:coinpeak',
            src: '../assets/images/logos/coinpeak.png',
            alt: 'Coinpeak',
            width: '115'
        }, #}

<div>
    <h2 class="h4 card-title font-weight-bold text-center mb-3">
        Powered by Ethplorer:
    </h2>
    <p class="card-text text-white-50 text-center mb-3">
        Most of the great projects out there are already using Ethplorer's API
    </p>
    <div class="powered-items">
        {% for link in links %}
            <a
                href="{{link.href}}"
                class="opacity-50 mb-3"
                target="_blank"
                rel="noopener nofollow"
                data-ga="{{link.ga}}"
            >
                <img
                    src="{{ asset(link.src) }}"
                    alt="{{link.alt}}"
                    width="{{link.width}}"
                    decoding="async"
                    importance="low"
                />
            </a>
        {% endfor %}
    </div>
</div>
